/*
 * single sign on for external services module
 *
 * my services table styles
 */

table.ssoxs_useraccount {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-box-shadow: 0px 2px 4px #a4a4a3;
  -moz-box-shadow: 0px 2px 4px #a4a4a3;
  box-shadow: 0px 2px 4px #a4a4a3;
}

.ssoxs_useraccount p {
  margin: 0.5em !important;
}

/* table header styles */
.ssoxs_useraccount thead tr {
  height: 100px;
  background-color: #eceef5;
}

.ssoxs_useraccount th,
.ssoxs_useraccount td {
  padding: 1em;
}

.ssoxs_useraccount th:first-of-type {
  width: 40px;
}

.action-pending th:first-of-type {
  background-color: #f0c874;
}

.action-unsubscribe th:first-of-type {
  background-color: #b9f19f;
}

.ssoxs_useraccount th.name {
  width: 180px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  background: #0085b5; /* old browsers */
  background: -moz-linear-gradient(top,  #0085b5 0%, #00779e 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0085b5), color-stop(100%,#00779e)); /* chrome,safari4+ */
  background: -webkit-linear-gradient(top,  #0085b5 0%,#00779e 100%); /* chrome10+,safari5.1+ */
  background: -o-linear-gradient(top,  #0085b5 0%,#00779e 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(top,  #0085b5 0%,#00779e 100%); /* ie10+ */
  background: linear-gradient(to bottom,  #0085b5 0%,#00779e 100%); /* w3c */
  filter: progid:dximagetransform.microsoft.gradient( startcolorstr='#0085b5', endcolorstr='#00779e',gradienttype=0 ); /* ie6-9 */
}

.ssoxs_useraccount .action-pending th.name {
  color: #f0c874;
}

.ssoxs_useraccount .action-unsubscribe th.name {
  color: #b9f19f;
}

.ssoxs_useraccount .name span {
  opacity: 0.0;
  filter: alpha(opacity=0);
}

.ssoxs_useraccount .name:hover span {
  opacity: 1.0;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.ssoxs_useraccount .description {
  font-weight: normal;
  color: #494949;
}

.ssoxs_useraccount .description p.url {
  display: none;
}

.ssoxs_useraccount .description p.url a {
  display: block;
  text-decoration: none;
  font-size: 150%;
  font-weight: bold;
  padding-top: 20px;
  width: 100%;
  height: 60px;
}

.ssoxs_useraccount .description:hover p.url {
  display: block;
}

.ssoxs_useraccount .description:hover p.text {
  display: none;
}

/* table body styles */
.ssoxs_useraccount tbody {
  display: none;
}

.ssoxs_useraccount .certificate .form-type-checkbox,
.ssoxs_useraccount .approval .form-type-checkbox,
.ssoxs_useraccount .tokens .form-type-checkbox,
.ssoxs_useraccount .pending .form-type-checkbox,
.ssoxs_useraccount .trial-period .form-type-checkbox,
.ssoxs_useraccount .subscribe .form-type-checkbox {
  visibility: hidden;
}

.ssoxs_useraccount tr.subscription-step {
  background-color: #ffffff;
  border: 1px solid #dedede;
}

.ssoxs_useraccount td.step {
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.ssoxs_useraccount .step1 td.step {
  background-color: #1c6695; /*#005f6b;*/
}

.ssoxs_useraccount .step2 td.step {
  background-color: #3dbdfa; /*#008c9e;*/
}

.ssoxs_useraccount .step3 td.step {
  background-color: #4daeed; /*#00b4cc;*/
}

.ssoxs_useraccount .step4 td.step {
  background-color: #8acddb; /*#00dffc;*/
}

.ssoxs_useraccount td.step:hover {
  background-color: #eceef5;
  color: #343838;
}

.ssoxs_useraccount .req-wrapper {
  display: none;
}

.ssoxs_useraccount .roundbutton {
  display: inline-block;
  line-height: 1;
  padding: 3px 5px;
  margin: 5px 0px 5px 0px;
  text-decoration: none;
  background-color: #eceded;
  border: 1px solid #a6a6a6;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.ssoxs_useraccount .req-wrapper .license {
  border: 1px solid #dedede;
  margin: 20px 20px 20px 0px;
  padding: 20px;
  height: 150px;
  overflow-y: scroll;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}

.ssoxs_useraccount p.title {
  font-weight: bold;
  font-weight: 120%;
  padding: 1.5em 0em !important;
}

.ssoxs_useraccount p.title span {
  color: #0f779e;
  padding-right: 2em;
}

.ssoxs_useraccount .failed {
  color: #c8000b;
}

.ssoxs_useraccount .success {
  color: #39912d;
}

#edit-dummy {
  visibility: hidden;
}

#cert-validate {
  height: 20px;
  padding-left: 20px;
  margin-left: 5px;
  background-image: url("../images/throbber.gif");
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

#cert-validate.active {
  background-position: 0% 75%;
}
